modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 28360421
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ../tg-web-app && npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd .. && npm run dev"
